/* Style the profile page */
body{
  font-family: 'Open Sans', sans-serif;
}

.profile-wrapper {
    margin: 20px;
    display: flex;
  }
  
  .profile-sidebar {
    flex-basis:20%;
    padding-top: 30px;
    padding-left: 2%;
  }
  
  .profile-sidebar ul {
    list-style-type: none;
    padding: 20;
  }
  
  .profile-sidebar li {
    margin-bottom: 15px;
  }
  
  .profile-sidebar a {
    color: #ff4500;
    text-decoration: none;
  }
  
  .profile-sidebar a:hover {
    text-decoration: none;
    color: black;
  }
  
  .profile-content {
    flex-basis: 65%;
  }
  
  .profile-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
  }
  
  .profile-header h1 {
    font-size: 24px;
  }
  
  .profile-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 150px;
    float: right;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  input{
    margin-left: 60px;
  }
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px #ccc;
  }
  input[type="password"]{
    margin-left: 50px;
  }
  input[type="submit"] {
    margin: 0;
    padding: 10px;
    background-color: #ee4d2d   ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  input[type="submit"]:hover {
    background-color: #f15c3e;
  }
  table{
    border-spacing:0 20px;
  }